.parent{
    width: 70vw;
    border: 5px solid black;
    height: 600px;
    background-color: antiquewhite;
    margin: 40px;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    justify-content: flex-end;   */
    /* justify-content: space-between;   */
    justify-content: space-evenly;  
    /* flex-end --> right side taraf shift ho gye */
     /* flex-direction: column  ; */
     /* flex-direction: row-reverse; */
     /* flex-direction: column-reverse; */
    flex-wrap: wrap; 

    /* wrap basically wrap all the elements  */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: stretch; */
    /* stretch is a default properties  */
   /* align item me ham cross axis ke along adjust karge */
   /* align-content: center; */
   /* align-content: flex-end; */
   /* align-content: flex-start; */
}

div{
    height: 150px ;
    width: 150px;
    border: 1px solid black;
    font-size: 26px;
    
}
div:nth-of-type(5){
    flex-basis: 250px;
    flex-grow: 1;
    flex-shrink: 4;
    
}

div:nth-of-type(1){
    flex-grow: 1;
    

}
div:nth-of-type(3){
    flex-grow: 1;
    
}

div:nth-of-type(2){
    align-self: center;
}