div{
    background-color: aqua;
    width: 100px;
    height: 100px;
    border: 2px solid brown;
    /* transition: 3s; */
    transition-duration: 3s;
    /* transition-delay: 3s; */
    transition-property: border-radius;

}

div:hover{
    background-color: green ;
    border-radius: 50%;
}