.vishnu{
    /* background-color: blueviolet; */
}
.vishnu1{
    color: red;
}

.vishnu2{
    font-size: 100px;
}

.vishnu3{
    font-family: 'Times New Roman', Times, serif;

    text-shadow: 2px 2px 20px yellow;
}

.toggle{
    background-color:cyan;
}