/* this is a element selector */


/* li{
    background-color: red;
}
div{
    border: 5px solid rgb(18, 60, 177);
}
p{ss
    font-size: 30px;
} */

/* this is a id selector */
    /* { } --> yeh soorg ka darbaja */
    /* id has to be unique */
/* #vishnu{
    background-color: aquamarine;
}
#special{
    font-size: 30px;
}

/* This is a class Selector */

/* .vishnu1{
    font-size: 50px;
    background-color: red;
} */ 


/* this is attribute selector */
/* a[href='http://google.com']{
    font-size: 50px;
    background-color: aquamarine;
}

input[type="text"]{
    border: 3px dashed brown;
 
}

input[disabled]{
    font-size: 50px;
    background-color: aqua;
} */

/* this is a universal selector */


/* *{
    border: 2px solid brown;
    background-color: yellow;
} */

body{
    border: 20px solid greenyellow;
}




/* /usgage of universal selecttor */


*{
    margin : 0 ;
    padding : 0; 
}