body{
    background-color: blueviolet;
}
#heading{
    display: inline-block;
    margin-left:20vw;
    margin-right:20vw;
    border: 3px solid black;
    font-size: 70px;
    background-color: red;
}
#main-div{
    border: 3px solid green;
    text-align: center;
    background-color: aqua;
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    
    
}
button{
    color: brown;
    font-size: 30px;
}
input{
    margin-top: 20px;
    background-color: yellow;
    font-size: 3vw;
   
     
}
input:hover{
    background-color: aquamarine;
}


