.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: blueviolet;
    border-radius: 50%;
    border-top: 10px solid red;
    border-bottom: 10px solid yellow;
    border-left: 10px solid yellowgreen;
    border-right: 10px solid salmon;
    margin: 10px auto;
}

.box:hover{
    animation-name: bouncingball;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

@keyframes bouncingball {
    0%{
        transform:translateY(0px) rotate(0deg);
       
        
    }
    50%{
        transform:translateY(600px) rotate(180deg);
       
    }
    100%{
        transform:translateY(0px) rotate(360deg);
       
    }
    
}