.main{
    width: 70vw;
    height: 70vh;
    background-color: gray;
    
    border: 3px solid black;
    overflow: scroll;
 
   margin: 30px auto;


}

div .img1{
    width: 200px;
    margin: 10px;
    float: left;
}

div .img2{
    margin: 10px;
    width: 200px;
    float: right;
}
p{
    margin: 20px;
}

.f1{
 margin-right: 500px;
 
}

.p1{
    clear: left;
}
.p2{
    clear: right;
}
h1{
    text-align: center;
    text-shadow: 1.1px 1.1px 1px red,
    1.1px 1.1px 1px yellow;
}

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}